<template>
  <div class="challenge">
    <div class="wrapper">
      <h1>To do</h1>
      <p v-if="state === 'loading'">Loading...</p>
      <p v-else-if="state === 'failed'">Error fetching data</p>
      <div 
        v-else-if="state === 'loaded'"  
        class="items"
      >
        <TaskDisplay
          v-for="task in tasksList"
          :key="task.tasksId"
          :task="task"
          @update="sortTasks"
        />

        <!-- Mission one is inside the task input! -->
        <TaskInput @update="(newTask) => tasksList = [ ...tasksList, ...newTask ]" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import TaskDisplay from './TaskDisplay.vue';
import TaskInput from './TaskInput.vue';

/* composables */
import { useGetTasks } from '../composables/useGetTasks';

const { tasks, state } = useGetTasks();

const tasksList = ref(tasks);

const sortTasks = () => {
  tasksList.value = tasksList.value.sort((a, b) => {
    return a.is_complete - b.is_complete;
  });
}

watch(() => tasksList.value, () => sortTasks());

</script>

<style lang="scss">
.challenge {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 350px;

    h1 {
      padding: 0px 20px;
      color: var(--color-heading);
      font-weight: 800;
      font-size: var(--fs-5);
    }
    
    .items {
      padding-top: var(--space-3);
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
    }
  }
}
</style>
