<template>
    <div>
        <input @change="update" v-model="task.is_complete" type="checkbox" class="checkbox">
    </div>
  </template>
  
  <script setup lang="ts">
    const props = defineProps(['task']);
    const emit = defineEmits(['update']);

    /* composables */
    import { useUpdateTask } from '../composables/useUpdateTask';
    const { state, updateTask } = useUpdateTask();

    const update = async () => {
        await updateTask(props.task);
        emit('update', props.task);
    };
  </script>
  
  <style scoped lang="scss">
    .checkbox {
        margin-right: var(--space-2);
    }
  </style>
  