<template>
  <div class="task-display">
    <CheckboxInput :task="task" @update="(task) => emit('update', task)" />
    <p :class="{'completed': task.is_complete}">{{ task.content }}</p>
  </div>
</template>

<script setup lang="ts">
import type { Task } from '../utils/types';
import CheckboxInput from './CheckboxInput.vue';

const emit = defineEmits(['update']);

defineProps<{
  task: Task;
}>();
</script>

<style scoped lang="scss">
.task-display {
  display: flex;
  align-items: center;
  color: var(--color-heading);
  font-size: var(--fs-3);
  font-weight: 500;
  box-shadow: var(--box-shadow-1);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--border-radius-1);
}

.task-display:hover {
  cursor: pointer;
  color: var(--color-accent-one);
}

.completed {
  text-decoration: line-through;
  color: var(--theme-c-dark-grey);
}
</style>
