<template>
  <div>
    <div class="task-input">
      <input 
        type="text" 
        v-model="task" 
        class="blank-input" 
        placeholder="Add a new task..."
        @keydown.enter="addTask" 
      >

      <button @click="addTask" class="add-btn task-input" 
        :class="{'loading': state == 'loading'}">
        ADD
      </button>
    </div>
    <p v-if="error" class="error">
      {{ error }}
    </p>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  const emit = defineEmits(['update']);

  /* composables */
  import { useSubmitTask } from '../composables/useSubmitTask';
  const { state, submitTask } = useSubmitTask();

  const task = ref<string>('');
  const error = ref<string>('');

  const addTask = async () => {

    if (!task.value) {
      error.value = 'Task is required.';
      return;
    }

    error.value = '';
    const item = await submitTask(task.value);
    emit('update', item);
    task.value = '';
  };
</script>

<style scoped lang="scss">
.task-input {
  color: var(--color-heading);
  font-size: var(--fs-3);
  font-weight: 500;
  box-shadow: var(--box-shadow-1);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--border-radius-1);
  background-color: var(--theme-c-math-extra-light);
  border: 1px solid var(--theme-c-dark-grey);
  display: flex;
}

.blank-input {
  border: none;
  outline: none;
  background: none;
  padding: 0 var(--space-3) 0 0;
  margin: 0;
  width: 100%;
  color: inherit;
} 

.add-btn {
  border: none;
  cursor: pointer;
  padding: var(--space-1) var(--space-3);
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--theme-c-soft-white);
}

.loading {
  color: var(--color-accent-one);
}

.error {
  color: var(--theme-c-red);
  margin-top: var(--space-1);
  margin-left: var(--space-2);
}

</style>
